./mongo-volume
./mongo-volume/*
/tmp
./swagger.json
.env
.go-base.yaml

.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

.idea/*
coverage/coverage.out
coverage/coverage.html
**/example/*